* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 70px;
  margin-left: 20px;
}

.trybewarts-login {
  display: flex;
  width: 100vh;
  align-items: center;
}

.infos-login {
  margin-left: 30%;

}

#email-login {
  border-radius: 3px;
  height: 20px;
}

#input-password {
  border-radius: 3px;
  height: 20px;
}

#login-button {
  border-radius: 3px;
  height: 22px;
  width: 80px;
}

#trybewarts-header-title {
  font-size: 3em;
  color: white;
  align-self: center;
  margin-left: 15%;
  margin-bottom: 10px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}


#trybewarts-forms-logo {
  height: 500px;
}

.family-radio {
  display: flex;
  flex-direction: column;
}

.family {
  margin: 5px;
}

.ratio-avaliation {
  display: flex;
}

#label-rate {

}